<div class="center">
  <input type="text" [(ngModel)]="query" />
  <button (click)="doSearch()" class="search-button">Search</button>
  <p style="color:red" *ngIf="error">{{error}}</p>
  <form *ngIf="restaurants?.length > 0" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <div *ngFor="let restaurant of restaurants">
      <img src="{{restaurant.logoPath}}" />
      <h4>{{restaurant.name}} - {{restaurant.city}} - rated #{{restaurant.rank}} overall</h4>
      <ng-container *ngFor="let category of restaurant.categories">
        <p class="category" *ngIf="category.name">{{category.name}}</p>

        <ng-container *ngFor="let menuItem of category.menuItems">
          <input type="checkbox" [value]="menuItem.id" (change)="onCheckboxChange($event)" />
          <label for="{{menuItem.id}}">{{menuItem.name}} - R{{menuItem.price}}</label>
          <br />
        </ng-container>
      </ng-container>
    </div>
    <input [disabled]="overAllPrice <= 0" type="submit" value="Order - {{overAllPrice}}">
  </form>
</div>
